.project {
  border: 1px solid var(--mainColor);
  width: 300px;
  height: 380px;
  margin: 10px;
  background-color: var(--backgroundColor);

  cursor: pointer;

  &:hover {
    transition: 0.3s;
    background-color: var(--mainColor);
    color: var(--backgroundColor);
    img {
      transition: 0.3s;
      overflow: hidden;
      object-position: 15% 20%;
      cursor: pointer;
    }
  }
  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    filter: opacity(70%) grayscale(33%);
    &:hover {
      transition: 0.3s;
      filter: none;
    }
  }
  .label {
    .titleBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-weight: bold;
        padding: 5px 10px;
        margin: 0;
      }
      .year {
        margin: 0 10px;
        padding: 3px;
        border-bottom: 1px solid var(--mainColor);
        // border: solid 1px var(--mainColor);
        // border-radius: 50px;
      }
    }
    .hashtags {
      display: flex;
      p.item {
        padding: 0 10px 3px 10px;
        margin: 0;
      }
    }
  }
}
