@import "./media";
@mixin line {
  text-decoration: underline wavy var(--mainColor);
  // border-bottom: 4px solid var(--mainColor);
  // margin: 0 3px;
  // margin: 0 10px;
  //   text-decoration: none;
  //   box-shadow: inset 0 -3px 0;
  //   color: var(--mainColor);
  //   overflow: hidden;
  @include sp {
    border-bottom: none;
    margin: 0;
  }
}
