@import "./variables";

$themes: (
  mainColor: (
    lightTheme: $black,
    darkTheme: $white,
  ),
  backgroundColor: (
    lightTheme: $ivory,
    darkTheme: $brown,
  ),
  subColor: (
    lightTheme: $lightBrown,
    darkTheme: $lightBrown,
  ),
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

:root {
  @include styles("lightTheme");
}
:root[theme="dark"] {
  @include styles("darkTheme");
  img.changeColor {
    filter: brightness(0) invert(1);
  }
}
