@import "../../styles/themes";
@import "../../styles/media";
@import "../../styles/line";

// @import "../../styles/animation";
.index {
  overflow: hidden;
  p.section {
    text-align: center;
    padding: 50px 0 10px 0;
    margin: 0;
  }
  .hero {
    // background-color: gray;
    position: relative;
    // margin-top: 60px;
    width: 100%;
    min-height: 100vh;
    border-bottom: 1px solid var(--mainColor);
    padding: 0;
    .hero_container {
      h1 {
        // background-color: seagreen;
        position: absolute;
        top: 40px;
        padding: 0px 50px;
        margin: 0px;
        margin-top: 60px;

        @include tab {
          padding: 0px 20px;
        }
      }
      .heroBox {
        // background-color: brown;
        position: absolute;
        bottom: 40px;
        p.title {
          padding: 50px 50px 0 50px;
          margin: 0;
          @include tab {
            padding: 20px 20px 0 20px;
          }
        }
        p.description {
          padding: 20px 50px 0 50px;
          margin: 0;
          @include tab {
            padding: 20px 20px;
            padding-bottom: 0;
          }
        }
      }
    }
  }
  main {
    .myService {
      // background-color: seagreen;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .myServiceBox {
        // background-color: gray;
        display: flex;
        flex-direction: row;
        margin: 30px;
        margin-top: 0;
        @include sp {
          flex-direction: column;
          text-align: center;
          display: flex;
          align-items: center;
        }
        img {
          width: 250px;
          height: 250px;
          padding: 30px;
          @include tab {
            width: 230px;
            height: 230px;
            padding: 10px;
          }
          @include sp {
            width: 150px;
            height: 150px;
          }
        }
        .serviceDescription {
          display: flex;
          flex-direction: column;
          p.title {
            margin: 20px;
            padding: 0;
          }
          p.description {
            width: 500px;
            padding: 0;
            margin: 0 20px;
            @include tab {
              width: 200px;
            }
          }
        }
        // .myServiceBox:nth-child(even) {
        //   flex-direction: row-reverse;
        //   @include sp {
        //     flex-direction: column;
        //     text-align: center;
        //     display: flex;
        //     align-items: center;
        //   }
        // }
      }
    }

    .projects {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
    .contactMe {
      // @include fadeUp;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 100px 50px;
      @include sp {
        flex-direction: column;
        animation: none;
      }

      img {
        width: 300px;
        height: 300px;
        @include sp {
          width: 200px;
          height: 200px;
          margin: 0 auto;
        }
      }
      .contactMe_container {
        width: 300px;
        padding: 0 20px;
        @include sp {
          width: 100%;
          padding: 0;
        }
        p.subtitle {
          padding: 0;
          margin: 0;
        }
        p.title {
          padding: 0;
          margin: 0;
        }

        button {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
