@import "../../styles/variables";
.themeColor {
  //   background-color: greenyellow;
  display: flex;
  font-size: 12px;
  padding: 0 5px;
  p.themeBtn {
    &:hover {
      cursor: pointer;
      color: var(--subColor);
      transition: 0.3s;
      //   border-bottom: 1px solid var(--subColor);
    }
  }
}
